---
const { pageTitle } = Astro.props
---
<div id="nav">
    <span><h1>{pageTitle}</h1></span>
    <nav>
        <button>
            <a href="#">Link</a>
        </button>
        <button>
            <a href="#">Link</a>
        </button>
        <button>Link</button>
    </nav>
</div>
<hr>