---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<script src="https://kit.fontawesome.com/1764ad7e45.js" crossorigin="anonymous" />
		<title>{pageTitle}</title>
	</head>
	<body>
		<main>
			<header>
				<Navigation pageTitle={pageTitle}/>
			</header>
			<div class="content">
                <slot />
			</div>
			<footer>
                <p>Lorem ipsum dolor sit.</p>
			</footer>
		</main>
	</body>
</html>